{% load static %}

<footer>
    <div class="container">
        <div class="footer-elem">
            <ul>
                <h3 style="font-size: 40px;">STARTE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                <div class="redes-socias">
                    <i class="bi bi-facebook" alt="facebook"></i>
                    <i class="bi bi-instagram" alt="instagram"></i>
                    <i class="bi bi-twitter" alt="twitter"></i>
                </div>
            </ul>
        </div>

        <div class="footer-elem">
            <ul>
                <h3 style="font-size: 20px;">Quem somos?</h3>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Termos de serviço</a></li>
                <li><a href="#">Política de privacidade</a></li>

            </ul>
        </div>

        <div class="footer-elem">
            <ul>
                <h3 style="font-size: 20px;">Contato</h3>
                <li><p>starte@gmail.com</pp></li>
                <li><p>+55 (85) 4002-8922</p></li>
            </ul>
        </div>
            
        <div class="footer-bottom">
            <small>© 2025 | STARTE - Todos os direitos reservados</small>
        </div>
    </div>
</footer>