{% load static %}
    <header class="navbar">
        <div class="logo" alt="logo">Starte</div>
        <nav>
            <ul class="nav_links">
                <li><a href="#">home</a></li>
                <li><a href="#">artistas</a></li>
                <li><a href="#">categorias</a></li>
            </ul>
        </nav>

        <div class="search-bar">
            <input type="text" placeholder="Pesquisar..." />
            <button class="search-btn"><i class="bi bi-search"></i></button>
        </div>

        <nav>
            <ul class="nav_links2">
                <li><a href="#"><i class="bi bi-chat-left-text-fill"></i></a></li>
                <li><a href="#"><i class="bi bi-bell"></i></a></li>
                <li><a href="#"><i class="bi bi-cart"></i></a></li>
                <li><a href="#"><i class="bi bi-person-fill"></i></a></li>
            </ul>
        </nav>
    </header>
