@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #d1d1d1;
}


.header {
    background-color: #000;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-top: 40px;
}

.titulo{
    color: #000;
    position: absolute;
    top: 115px;
    left: 450px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

.container input{
    background-color: #EFEBE7;
    border: none;
}

.register-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.register-text a {
    color: #d633ff;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 14px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fdf0ff;
}

.forgot-password {
    font-size: 12px;
    color: #d633ff;
    text-decoration: none;
    align-self: flex-end;
    margin-top: 5px;
}

.forgot-password:hover {
    text-decoration: underline;
}

button {
    background: #d633ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #b024d4;
}
